extends layout

block content
  form
    if title == "New Room"
      input#roomName(placeholder="Enter video conference room name", autofocus=true)
    else
      input#roomName(value="Share this link: " + url, disabled=true, placeholder="Enter video conference room name")
  div#remotesVideos 
    div Others
    video#placeholder(poster="/images/loading.gif")
  div#localVideoContainer You
    video#localVideo(height="300", poster="/images/loading.gif")
  

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="http://simplewebrtc.com/latest.js")
  script(src="index.js")