doctype html
html
  head
    title= "Quickly Video Chat - " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chardinjs.css')
    link(rel="shortcut icon" href="favicon.ico")
  body
    block content