body {
  padding: 0 10px;
  font: 14px Helvetica Neue, Arial, sans-serif;
  font-weight: lighter;
  background: #262626;
  color: #fff;
}
body h1 {
  text-align: center;
  font-weight: 100;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
a {
  color: #00b7ff;
}
#remotesVideos {
  margin-bottom: 50px;
  height: 300px;
  text-align: center;
}
#remotesVideos video {
  height: 300px;
  border: 2px solid #777;
  display: inline-block;
  margin: 10px 10px 0 10px;
}
#localVideoContainer {
  text-align: center;
}
#localVideoContainer #localVideo {
  height: 242px;
  width: 320px;
  border: 2px solid #777;
  margin: 10px auto 50px auto;
  display: block;
}
#roomName {
  padding: 10px 0 20px 0;
  color: #efefef;
  font-size: 2.15em;
  width: 100%;
  outline: none;
  background: inherit;
  border: 0;
}
